html {
  background-color: #144514;
}
.quote {
  font-family: Cagliostro, sans-serif;
  background-color: rgba(255, 255, 255, .5);
}

.cite {
  font-family: Roboto, sans-serif;
  background-color: rgba(255, 255, 255, .5);
}
